Django
djangorestframework
djangorestframework-simplejwt
django-environ
django-filter
django-autoslug
django-countries
django-phonenumber-field

pillow
phonenumbers
psycopg2-binary
flake8
black
isort
djoser
pyJWT
